body{
    background-image: url('bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
    font-weight: bold;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover{
    background-color:gainsboro;
}

.parent{
   padding-top: 100px;
   padding-left: 40px;
    padding-bottom: 100px;
   color: white;
    border: 15px Solid white ;
    
}
.parent .text1{
    font-size:35px;
   
  
   
 
}